<div id="<%= dom_id lab_repost %>">

  <p>
    <strong>Id:</strong>
    <%= lab_repost.id %>
  </p>

  <p>
    <strong>User_id:</strong>
    <%= lab_repost.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= lab_repost.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lab_repost.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= lab_repost.grade %>
  </p>

</div>
